@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
// @import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

$textdecoration: underline;

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

@mixin textDecoration {
  text-decoration: none;
  color: rgb(107, 101, 101);
  font-size: 13px;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin navBar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

header {
  #sideNavigation {
    background-color: #434343;
    position: fixed;
    right: 20px;
    top: 60px;
    height: 75vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px rgb(39, 39, 39);
    box-shadow: 5px 0px 5px 5px rgb(147, 144, 144);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    .active {
      visibility: visible;
    }

    .gridContainer {
      .grid-item {
        display: flex;
        flex-direction: center;

        .grid-item-1,
        .grid-item-2,
        .grid-item-3 {
          visibility: hidden;
        }

        a {
          color: rgba(0, 0, 0, 0.783);
          text-decoration: none;
          justify-content: center;
          justify-items: center;
          align-items: center;
          align-content: center;

          .fab,
          .fas {
            display: flex;
            justify-content: center;
          }
        }
        p {
          margin-top: 20px;
          display: flex;
          text-decoration: none;
          justify-content: center;
          justify-items: center;
          align-items: center;
          align-content: center;
        }
      }
    }
  }
}

#headerTop {
  @include flexCenter(row);
  position: absolute;
  right: 10px;

  .nav {
    border: none;
    padding: 8px;

    a {
      @include textDecoration();
    }
  }
}

main {
  #container {
    @include flexCenter(column);
    height: 90vh;
  }
  .inputbox {
    @include flexCenter(row);
    border: solid rgb(183, 181, 181) 0.5px;
    border-radius: 20px;

    input {
      width: 400px;
      padding: 10px;
      border: none;
      outline: none;
    }

    a {
      padding: 12px;
      @include textDecoration();
    }
  }
  #btns {
    @include flexCenter(row);

    button {
      padding: 10px;
      border-radius: 8px;
      border: none;
      margin: 15px;
      color: rgb(62, 57, 57);

      &:hover {
        border: solid rgb(185, 180, 180) 0.2px;
      }
      &:focus {
        border: solid rgb(67, 67, 236) 0.2px;
      }
    }
  }

  #languages {
    @include flexCenter(row);

    p {
      color: rgb(92, 88, 83);
      font-size: 12px;
    }

    a {
      text-decoration: none;
      padding: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-block;

  .left {
    float: left;
    display: inline;
    position: fixed;
    left: 10px;
    bottom: 10px;
  }

  .right {
    float: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
  }

  ul {
    list-style-type: none;
    display: inline-block;
    flex-direction: row;
    padding: 10px;

    li {
      display: inline-block;
      a {
        padding: 10px;
        @include textDecoration();
        &:hover {
          text-decoration: $textdecoration;
        }
      }
    }
  }
}
