@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto";
}

header #first {
  background-color: #b05151;
  visibility: hidden;
  width: 50vw;
}
header #first.active {
  visibility: visible;
}
header #sideNavigation {
  display: none;
  background-color: #b05151;
  position: fixed;
  right: 20px;
  top: 60px;
  height: 66vh;
  width: 30vw;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px rgb(39, 39, 39);
  box-shadow: 5px 0px 5px 5px rgb(147, 144, 144);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
header #sideNavigation.active {
  display: block;
}
header #sideNavigation .gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
}
header #sideNavigation .gridContainer .grid-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 16vh;
  width: 8vw;
}
header #sideNavigation .gridContainer .grid-item a {
  color: rgba(0, 0, 0, 0.783);
  text-decoration: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
header #sideNavigation .gridContainer .grid-item a .fab,
header #sideNavigation .gridContainer .grid-item a .fas {
  display: flex;
  justify-content: center;
}
header #sideNavigation .gridContainer .grid-item p {
  margin-top: 20px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
header #second {
  background-color: #4e3333;
  display: none;
  width: 50vw;
}
header #second.active {
  display: block;
}
header #fourth {
  background-color: #4a1a1a;
  display: none;
  width: 50vw;
}
header #fourth.active {
  display: block;
}

#headerTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
}
#headerTop .nav {
  border: none;
  padding: 8px;
}
#headerTop .nav a {
  text-decoration: none;
  color: rgb(107, 101, 101);
  font-size: 13px;
}

main #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
main .inputbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid rgb(183, 181, 181) 0.5px;
  border-radius: 20px;
}
main .inputbox input {
  width: 400px;
  padding: 10px;
  border: none;
  outline: none;
}
main .inputbox a {
  padding: 12px;
  text-decoration: none;
  color: rgb(107, 101, 101);
  font-size: 13px;
}
main #btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main #btns button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 15px;
  color: rgb(62, 57, 57);
}
main #btns button:hover {
  border: solid rgb(185, 180, 180) 0.2px;
}
main #btns button:focus {
  border: solid rgb(67, 67, 236) 0.2px;
}
main #languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main #languages p {
  color: rgb(92, 88, 83);
  font-size: 12px;
}
main #languages a {
  text-decoration: none;
  padding: 5px;
}
main #languages a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-block;
}
footer .left {
  float: left;
  display: inline;
  position: fixed;
  left: 10px;
  bottom: 10px;
}
footer .right {
  float: right;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
footer ul {
  list-style-type: none;
  display: inline-block;
  flex-direction: row;
  padding: 10px;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  padding: 10px;
  text-decoration: none;
  color: rgb(107, 101, 101);
  font-size: 13px;
}
footer ul li a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
